.movie-title-home{
    color: red;
}
.movie-desc-home{
    color: red;
}
.title-home{
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.title-home2{
  font-size: 35px;
  text-align: center;
}
.container-cards-home{
display: flex;
overflow-x: scroll;
}
.card-home{
    margin: 10px;
    
}
.card-image-home{
    width: 250px;
    height: 300px;
    border-radius: 8px;
}