/*CARRUSEL*/
.movie-title{
    color: white;
}
.movie-desc{
    color: white;
}

/*POPULAR LIST*/

.title-pop{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px; 
}
.title-pop2{
    font-size: 25px;
}
.container-cards-pop{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0;
    width: 100%;
    flex-wrap: nowrap;
}
.container-cards-pop .card{
    margin:8px;
    width: 300px;
}
.card-img{
    height: 400px;
}

/*TOP RATED LIST*/

.title-top{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px; 
}
.title-top2{
    font-size: 25px;
}
.container-cards-top{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0;
    width: 100%;
    flex-wrap: nowrap;
}
.container-cards-top .card{
    margin:8px;
    width: 300px;
}
.card-img{
    height: 400px;
}